## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the Android SDK. This is only needed for local builds.
# For Codemagic, this is set automatically.
sdk.dir=/path/to/Android/sdk
